@import "../layers";
@import "../variables";
@import "../colors";

.sidebar {
  position: absolute;
  right: 0;
  width: 30%;
  height: calc(100vh - 100px);
  background: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: -4px 30px 20px rgba(29, 29, 29, 0.5);
  overflow: scroll;

  .sidebar__Info {
    margin: 10px 30px 40px 10px;
  }
  &.collapsed {
    display: none;
  }
  .sidebar__infoCards {
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid gray;
    }
    .sidebar__infoCardsPrice {
      font-size: 18px;
      font-weight: 500;
    }
    .sidebar__infoCardsBedBaths {
      display: flex;
      justify-content: space-around;
      .sidebar__infoCardsBed,
      .sidebar__infoCardsBath {
        display: flex;
        justify-content: space-between;
        align-items: center;
        :first-child {
          padding-right: 5px;
          color: $coral;
        }
      }
    }
  }
}
.sidebar__Button {
  position: absolute;
  left: 3px;
  top: 3px;
  z-index: $top;
  &.collapsed {
    position: fixed;
    left: 0px;
  }
}

@media only screen and (max-width: $smalltablet_break) {
  .sidebar__infoCards {
    display: none;
  }
  .sidebar {
    position: relative;
    width: 100%;
    padding: 0;
    background: white;
    height: fit-content;
    right: auto;
    align-items: center;
    text-align: center;
    box-shadow: none;
  }
}
