@import "../layers";

.sidebar {
  position: absolute;
  right: 0;
  width: 30%;
  height: calc(100vh - 100px);
  background: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: -20px 5px 20px lightgrey;
  .sidebar__Info {
    margin: 10px 30px 40px 10px;
  }
  &.collapsed {
    display: none;
  }
}
.sidebar__Button {
  position: absolute;
  left: 3px;
  top: 3px;
  z-index: $top;
  &.collapsed {
    position: fixed;
    left: 0px;
  }
}
