#headerHomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 500px;
}

.aboutSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  20px 0 50px 0;
}