@import "../colors.scss";

.homepage__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: rgb(38, 38, 38);
  font-family: sans-serif;
  h1 {
    text-align: center;
  }
}

.homepage__about {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 200px 0;
}
