@import "../colors";
@import "../layers";

.Navbar {
  background: $purple;
  color: black;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 0 20px;
  z-index: $top;
  .Navbar__Logo {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;

    &:hover {
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-inline-start: 0px;
  }
  .Navbar__Link {
    font-size: 16px;
    margin : {
      right: 10px;
      left: 10px;
    }
    &:hover {
      cursor: pointer;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Navbar {
    background: $purple;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0;
    z-index: $top;
    .Navbar__Logo {
      font-size: 20px;
      margin: 0;
      text-align: center;
      padding: 20px 0px;
      &:hover {
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      width: 100%;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .Navbar__Link {
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 20px 0;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      background-color: $lightpurple;
    }
    .Navbar__Logo {
      position: relative;
      z-index: $top;
    }
  }
}
