@import "../colors";
@import "../layers";

.Navbar {
  background: $purple;
  color: black;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 0 20px;
  z-index: $top;
  link {
    text-decoration: none;
  }
  .Navbar__Logo {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;

    &:hover {
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-inline-start: 0px;
  }
  .Navbar__Link {
    font-size: 16px;
    margin : {
      right: 10px;
      left: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.NavbarSmall {
  display: none;
}

@media only screen and (max-width: 800px) {
  .NavbarSmall {
    background: $purple;
    color: black;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: $top;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      &.collapse {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: $purple;
        justify-content: center;
        right: -30%;
        width: 30%;
        height: calc(100vh - 10px);
        z-index: $middle;
      }
      &.collapseShow {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: $white;
        justify-content: center;
        right: 0;
        width: 30%;
        height: calc(100vh - 10px);
        z-index: $middle;
      }
    }
    .NavbarSmall__MenuButton {
      color: white;
      float: right;
      margin-top: 20px;
      z-index: $top;
    }
    .Navbar__Logo {
      position: relative;
      z-index: $top;
    }
  }

  .Navbar {
    display: none;
  }
}
