@import "../colors";

.Navbar {
  background: $purple;
  color: black;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 0 20px;
  link {
    text-decoration: none;
  }
  .Navbar__Logo {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-inline-start: 0px;
  }
  .Navbar__Link {
    font-size: 16px;
    margin : {
      right: 10px;
      left: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
