@import "../colors";

.footer {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  position: relative;
  background: $lightteal;
  .footer__icons {
    margin-right: 40px;
    display: flex;
    align-items: center;
  }
  .footer__individualIcons {
    margin: 0 10px;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      color: $teal;
    }
  }
}
